<main class="middle-sec">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 pr-0 left-section">
          <div class="filter-block">
            <div class="heading-title">
              <h2>Filter</h2>
              <div class="refresh-icon">
                <a href="#"><img src="assets/images/refresh-icon.png" alt=""></a>
              </div>
            </div>
            <div class="widget">
              <div>
                <a class="title" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                  Cities
                </a>
                <div class="collapse show" id="collapseExample">
                  <div class="form-group">
                    <span class="icon-search"></span>
                    <input type="text" class="form-control" placeholder="Search Here (Autosuggest by City)">
                  </div>
                  <div class="filter-chack-list">
                    <div class="custom-control custom-checkbox right-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck1">
                      <label class="custom-control-label" for="customCheck1">New York</label>
                    </div>
                    <div class="custom-control custom-checkbox right-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck2">
                      <label class="custom-control-label" for="customCheck2">Los Angeles</label>
                    </div>
                    <div class="custom-control custom-checkbox right-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck3">
                      <label class="custom-control-label" for="customCheck3">Chicago</label>
                    </div>
                    <div class="custom-control custom-checkbox right-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck4">
                      <label class="custom-control-label" for="customCheck4">Phoenix</label>
                    </div>
                    <div class="custom-control custom-checkbox right-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck5">
                      <label class="custom-control-label" for="customCheck5">Philadelphia</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="widget">
              <div>
                <a class="title" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample">
                  Category
                </a>
                <div class="collapse show" id="collapseExample1">
                  <div class="form-group">
                    <span class="icon-search"></span>
                    <input type="text" class="form-control" placeholder="Search Here (Autosuggest by Category)">
                  </div>
                  <div class="filter-chack-list">
                    <div class="custom-control custom-checkbox right-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck6">
                      <label class="custom-control-label" for="customCheck6">Agriculture & Forestry</label>
                    </div>
                    <div class="custom-control custom-checkbox right-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck7">
                      <label class="custom-control-label" for="customCheck7">Construction</label>
                    </div>
                    <div class="custom-control custom-checkbox right-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck8">
                      <label class="custom-control-label" for="customCheck8">Food & Beverage</label>
                    </div>
                    <div class="custom-control custom-checkbox right-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck9">
                      <label class="custom-control-label" for="customCheck9">Manufacturing</label>
                    </div>
                    <div class="custom-control custom-checkbox right-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck10">
                      <label class="custom-control-label" for="customCheck10">Mining</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="widget gray-bg">
              <div>
                <a class="title" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
                  Hourly Rates
                </a>
                <div class="collapse show" id="collapseExample2">
                  <img src="assets/images/price-filter-img.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-9 pl-0 right-section">
          <div class="right-header">
            <div class="sort-block">
              <span class="sort-title">sort by: </span>
              <select data-tags="true" data-placeholder="City" data-allow-clear="true" class="city-list">
                <option value="CI">Price $-$$</option>
                <option value="AL">Ahmedabad</option>
                <option value="WY">Ahmedabad 1</option>
                <option value="WY">Ahmedabad 2</option>
                <option value="WY">Ahmedabad 3</option>    
                <option value="WY">Ahmedabad 4</option>      
              </select>
            </div>
            <div>
              <a href="#" class="cmn-btn">Post Job</a>
            </div>
          </div>
          <div class="right-inner">
            <div class="row">
              <div class="col-lg-4">
                <div class="user-listing default-transition">
                  <div class="profile-img text-center">
                    <img src="assets/images/testimonial-img/pro-pic4.jpg" alt="">
                    <div class="reating">
                      <i class="fas fa-star"></i>
                      3
                    </div>
                  </div>
                  <div class="user-details text-center">
                    <span class="name">Marie Ann</span>
                    <span class="country">New York</span>
                    <span class="subject">Construction</span>
                  </div>
                  <div class="user-hour-time">
                    <div class="hour-dollar d-flex align-items-center">
                      <img src="assets/images/dollar-currency-icon.jpg" alt="">
                      $45 / Hour
                    </div>
                    <div class="times-hired d-flex align-items-center">
                      <span class="icon-hire-ic"></span>91 times Hired
                    </div>
                  </div>
                  <div class="view-button text-center">
                    <a href="#" class="btn view-pro">View Profile</a>
                    <a href="javascript:;" class="btn hire-me" data-toggle="modal" data-target="#exampleModal">Hire Me</a>
                  </div>
                  <div class="user-intro">
                    <a href="#" class="intro">
                      <img src="assets/images/intro-icon.png" alt="">
                      <span>Intro</span>
                    </a>
                    <a href="#" class="connect">
                      <img src="assets/images/connect-icon.png" alt="">
                      <span>Connect</span>
                    </a>
                    <a href="#" class="comments">
                      <img src="assets/images/comment-icon.png" alt="">
                      <span>20 Comment</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="user-listing default-transition">
                  <div class="profile-img text-center">
                    <img src="assets/images/testimonial-img/pro-pic5.jpg" alt="">
                    <div class="reating">
                      <i class="fas fa-star"></i>
                      4.5
                    </div>
                  </div>
                  <div class="user-details text-center">
                    <span class="name">Jill Young</span>
                    <span class="country">Los Angeles</span>
                    <span class="subject">Agriculture & Forestry, Construction</span>
                  </div>
                  <div class="user-hour-time">
                    <div class="hour-dollar d-flex align-items-center">
                      <img src="assets/images/dollar-currency-icon.jpg" alt="">
                      $45 / Hour
                    </div>
                    <div class="times-hired d-flex align-items-center">
                      <span class="icon-hire-ic"></span>91 times Hired
                    </div>
                  </div>
                  <div class="view-button text-center">
                    <a href="#" class="btn view-pro">View Profile</a>
                    <a href="javascript:;" class="btn hire-me">Hire Me</a>
                  </div>
                  <div class="user-intro">
                    <a href="#" class="intro">
                      <img src="assets/images/intro-icon.png" alt="">
                      <span>Intro</span>
                    </a>
                    <a class="pending">
                      <i class="fas fa-spin"><img src="assets/images/pending-icon.png" alt=""></i>
                      <span>Pending</span>
                    </a>
                    <a href="#" class="comments">
                      <img src="assets/images/comment-icon.png" alt="">
                      <span>20 Comment</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="user-listing default-transition">
                  <div class="profile-img text-center">
                    <img src="assets/images/testimonial-img/pro-pic2.jpg" alt="">
                    <div class="reating">
                      <i class="fas fa-star"></i>
                      3.5
                    </div>
                  </div>
                  <div class="user-details text-center">
                    <span class="name">Adelbert Cold</span>
                    <span class="country">New York</span>
                    <span class="subject">New York</span>
                  </div>
                  <div class="user-hour-time">
                    <div class="hour-dollar d-flex align-items-center">
                      <img src="assets/images/dollar-currency-icon.jpg" alt="">
                      $45 / Hour
                    </div>
                    <div class="times-hired d-flex align-items-center">
                      <span class="icon-hire-ic"></span>91 times Hired
                    </div>
                  </div>
                  <div class="view-button text-center">
                    <a href="#" class="btn view-pro">View Profile</a>
                    <a href="javascript:;" class="btn hire-me">Hire Me</a>
                  </div>
                  <div class="user-intro">
                    <a href="#" class="intro">
                      <img src="assets/images/intro-icon.png" alt="">
                      <span>Intro</span>
                    </a>
                    <a href="#" class="connect">
                      <img src="assets/images/connect-icon.png" alt="">
                      <span>Connect</span>
                    </a>
                    <a href="#" class="comments">
                      <img src="assets/images/comment-icon.png" alt="">
                      <span>20 Comment</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="user-listing default-transition">
                  <div class="profile-img text-center">
                    <img src="assets/images/testimonial-img/pro-pic6.jpg" alt="">
                    <div class="reating">
                      <i class="fas fa-star"></i>
                      4
                    </div>
                  </div>
                  <div class="user-details text-center">
                    <span class="name">Joanne Green</span>
                    <span class="country">Austin</span>
                    <span class="subject">Construction</span>
                  </div>
                  <div class="user-hour-time">
                    <div class="hour-dollar d-flex align-items-center">
                      <img src="assets/images/dollar-currency-icon.jpg" alt="">
                      $45 / Hour
                    </div>
                    <div class="times-hired d-flex align-items-center">
                      <span class="icon-hire-ic"></span>91 times Hired
                    </div>
                  </div>
                  <div class="view-button text-center">
                    <a href="#" class="btn view-pro">View Profile</a>
                    <a href="javascript:;" class="btn hire-me">Hire Me</a>
                  </div>
                  <div class="user-intro">
                    <a href="#" class="intro">
                      <img src="assets/images/intro-icon.png" alt="">
                      <span>Intro</span>
                    </a>
                    <a href="#" class="connect">
                      <img src="assets/images/connect-icon.png" alt="">
                      <span>Connect</span>
                    </a>
                    <a href="#" class="comments">
                      <img src="assets/images/comment-icon.png" alt="">
                      <span>20 Comment</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="user-listing default-transition">
                  <div class="profile-img text-center">
                    <img src="assets/images/testimonial-img/pro-pic7.jpg" alt="">
                    <div class="reating">
                      <i class="fas fa-star"></i>
                      3
                    </div>
                  </div>
                  <div class="user-details text-center">
                    <span class="name">Marie Ann</span>
                    <span class="country">San Jose</span>
                    <span class="subject">Construction</span>
                  </div>
                  <div class="user-hour-time">
                    <div class="hour-dollar d-flex align-items-center">
                      <img src="assets/images/dollar-currency-icon.jpg" alt="">
                      $45 / Hour
                    </div>
                    <div class="times-hired d-flex align-items-center">
                      <span class="icon-hire-ic"></span>91 times Hired
                    </div>
                  </div>
                  <div class="view-button text-center">
                    <a href="#" class="btn view-pro">View Profile</a>
                    <a href="javascript:;" class="btn hire-me">Hire Me</a>
                  </div>
                  <div class="user-intro">
                    <a href="#" class="intro">
                      <img src="assets/images/intro-icon.png" alt="">
                      <span>Intro</span>
                    </a>
                    <a href="#" class="connect">
                      <img src="assets/images/connect-icon.png" alt="">
                      <span>Connect</span>
                    </a>
                    <a href="#" class="comments">
                      <img src="assets/images/comment-icon.png" alt="">
                      <span>20 Comment</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="user-listing default-transition">
                  <div class="profile-img text-center">
                    <img src="assets/images/testimonial-img/pro-pic8.jpg" alt="">
                    <div class="reating">
                      <i class="fas fa-star"></i>
                      3
                    </div>
                  </div>
                  <div class="user-details text-center">
                    <span class="name">Marie Ann</span>
                    <span class="country">New York</span>
                    <span class="subject">Construction</span>
                  </div>
                  <div class="user-hour-time">
                    <div class="hour-dollar d-flex align-items-center">
                      <img src="assets/images/dollar-currency-icon.jpg" alt="">
                      $45 / Hour
                    </div>
                    <div class="times-hired d-flex align-items-center">
                      <span class="icon-hire-ic"></span>91 times Hired
                    </div>
                  </div>
                  <div class="view-button text-center">
                    <a href="#" class="btn view-pro">View Profile</a>
                    <a href="#" class="btn hire-me">Hire Me</a>
                  </div>
                  <div class="user-intro">
                    <a href="#" class="intro">
                      <img src="assets/images/intro-icon.png" alt="">
                      <span>Intro</span>
                    </a>
                    <a href="#" class="connect">
                      <img src="assets/images/connect-icon.png" alt="">
                      <span>Connect</span>
                    </a>
                    <a href="#" class="comments">
                      <img src="assets/images/comment-icon.png" alt="">
                      <span>20 Comment</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="user-listing default-transition">
                  <div class="profile-img text-center">
                    <img src="assets/images/testimonial-img/pro-pic9.jpg" alt="">
                    <div class="reating">
                      <i class="fas fa-star"></i>
                      3
                    </div>
                  </div>
                  <div class="user-details text-center">
                    <span class="name">Marie Ann</span>
                    <span class="country">New York</span>
                    <span class="subject">Construction</span>
                  </div>
                  <div class="user-hour-time">
                    <div class="hour-dollar d-flex align-items-center">
                      <img src="assets/images/dollar-currency-icon.jpg" alt="">
                      $45 / Hour
                    </div>
                    <div class="times-hired d-flex align-items-center">
                      <span class="icon-hire-ic"></span>91 times Hired
                    </div>
                  </div>
                  <div class="view-button text-center">
                    <a href="#" class="btn view-pro">View Profile</a>
                    <a href="#" class="btn hire-me">Hire Me</a>
                  </div>
                  <div class="user-intro">
                    <a href="#" class="intro">
                      <img src="assets/images/intro-icon.png" alt="">
                      <span>Intro</span>
                    </a>
                    <a href="#" class="connect">
                      <img src="assets/images/connect-icon.png" alt="">
                      <span>Connect</span>
                    </a>
                    <a href="#" class="comments">
                      <img src="assets/images/comment-icon.png" alt="">
                      <span>20 Comment</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="user-listing default-transition">
                  <div class="profile-img text-center">
                    <img src="assets/images/testimonial-img/pro-pic10.jpg" alt="">
                    <div class="reating">
                      <i class="fas fa-star"></i>
                      3
                    </div>
                  </div>
                  <div class="user-details text-center">
                    <span class="name">Marie Ann</span>
                    <span class="country">New York</span>
                    <span class="subject">Construction</span>
                  </div>
                  <div class="user-hour-time">
                    <div class="hour-dollar d-flex align-items-center">
                      <img src="assets/images/dollar-currency-icon.jpg" alt="">
                      $45 / Hour
                    </div>
                    <div class="times-hired d-flex align-items-center">
                      <span class="icon-hire-ic"></span>91 times Hired
                    </div>
                  </div>
                  <div class="view-button text-center">
                    <a href="#" class="btn view-pro">View Profile</a>
                    <a href="#" class="btn hire-me">Hire Me</a>
                  </div>
                  <div class="user-intro">
                    <a href="#" class="intro">
                      <img src="assets/images/intro-icon.png" alt="">
                      <span>Intro</span>
                    </a>
                    <a href="#" class="connect">
                      <img src="assets/images/connect-icon.png" alt="">
                      <span>Connect</span>
                    </a>
                    <a href="#" class="comments">
                      <img src="assets/images/comment-icon.png" alt="">
                      <span>20 Comment</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="user-listing default-transition">
                  <div class="profile-img text-center">
                    <img src="assets/images/testimonial-img/pro-pic11.jpg" alt="">
                    <div class="reating">
                      <i class="fas fa-star"></i>
                      3
                    </div>
                  </div>
                  <div class="user-details text-center">
                    <span class="name">Marie Ann</span>
                    <span class="country">New York</span>
                    <span class="subject">Construction</span>
                  </div>
                  <div class="user-hour-time">
                    <div class="hour-dollar d-flex align-items-center">
                      <img src="assets/images/dollar-currency-icon.jpg" alt="">
                      $45 / Hour
                    </div>
                    <div class="times-hired d-flex align-items-center">
                      <span class="icon-hire-ic"></span>91 times Hired
                    </div>
                  </div>
                  <div class="view-button text-center">
                    <a href="#" class="btn view-pro">View Profile</a>
                    <a href="#" class="btn hire-me">Hire Me</a>
                  </div>
                  <div class="user-intro">
                    <a href="#" class="intro">
                      <img src="assets/images/intro-icon.png" alt="">
                      <span>Intro</span>
                    </a>
                    <a href="#" class="connect">
                      <img src="assets/images/connect-icon.png" alt="">
                      <span>Connect</span>
                    </a>
                    <a href="#" class="comments">
                      <img src="assets/images/comment-icon.png" alt="">
                      <span>20 Comment</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>