<!-- Footer Start -->
<footer id="footer">
    <div class="container">
      <div class="footer-link">
        <div class="row">
          <div class="col-lg-2">
            <ul>
              <li class="title">Company</li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Terms & Conditions</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
          <div class="col-lg-2">
            <ul>
              <li class="title">Support</li>
              <li><a href="#">Help Center</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-lg-2">
            <ul>
              <li class="title">Business</li>
              <li><a href="#">Advertise with Us</a></li>
            </ul>
          </div>
          <div class="col-lg-2">
            <ul>
              <li class="title">BluCollr Employee</li>
              <li><a href="#">How it Works?</a></li>
              <li><a href="#">Employee Testimonials</a></li>
            </ul>
          </div>
          <div class="col-lg-2">
            <ul>
              <li class="title">BluCollr Employer</li>
              <li><a href="#">How it Works?</a></li>
              <li><a href="#">Employer Testimonials</a></li>
            </ul>
          </div>
          <div class="col-lg-2">
            <ul>
              <li class="title">Get Social</li>              
            </ul>
            <div class="social-icn">
              <a href="#" class="icon-fb-ic"></a>
              <a href="#" class="icon-tw-ic"></a>
              <a href="#" class="icon-insta-ic"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright text-center">
        <img src="../../../assets/images/black-logo.png" alt="">
        <p>© 2019 Copyright Blucollr.com. All Rights Reserved.</p>
      </div>
    </div>
  </footer>
  <!-- Footer End -->