<!-- Header Start -->
<header id="header" class="fixed-top after-login">
    <div class="container">
      <div class="head-blk">
        <div class="header-top">
          <div class="row">
            <div class="col-lg-2">
              <div class="head-logo"> <a href="#"><img src="../../../assets/images/logo-sm.png" alt=""></a> </div>
            </div>
            <div class="col-lg-7">
              <div class="srch-area"> <span class="icon-search"></span>
                <input type="text" placeholder="Search">
              </div>
            </div>
            <div class="col-lg-3 PL0">
              <div class="hdr-rt">
                <div class="icon-row">
                    <a href="#"><span class="icon-user"></span></a>
                      <a href="#"><span class="icon-message">
                        <small>3</small>
                      </span></a>
                      <a href="#"><span class="icon-bell">
                        <small>4</small>
                      </span></a>
                      <!-- <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                          <ul class="dropdown-menu dropdown-menu1">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                          </ul>
                        </li>
                      </ul> -->
                  </div>
                  <div class="prof-dropdown">
                    <a href="#" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"><img src="assets/images/testimonial-img/pro-pic1.jpg" alt=""></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Account Setting</a>
                      <a class="dropdown-item" href="#">Review Recived</a>
                      <a class="dropdown-item" href="#">Help</a>
                      <a class="dropdown-item" href="#">Logout</a>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="inner-nav-sec">
            <nav class="inner-nav">
              <ul>
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">My Jobs</a></li>
                <li><a href="#">My Connections </a></li>
                <li  class="active"><a href="profileupdate.html">My Profile </a></li>
                <li><a href="#"> Transactions </a></li>
                <li><a href="#"> Newsfeed </a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>
    <!-- /header End-->
  